NODE-RED/dashboard - provapratica.txt
[
    {
        "id": "b60f482443d02e93",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60c370e93addbd17",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6d8fbae78edba33",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "bcf36752d70dc804",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9700f1b20989898c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "f35441128c256c69",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4a72940d90e1b018",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#dedede",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a4c2d3fa78e137f9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e3c294d8cf09e0ee",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "0cdfdf34819811df",
        "type": "ui-theme",
        "name": "a",
        "colors": {
            "surface": "#c7c7c7",
            "primary": "#0094ce",
            "bgPage": "#f5f5f5",
            "groupBg": "#f0f0f0",
            "groupOutline": "#c7c7c7"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "397ca53137837e96",
        "type": "ui-page",
        "name": "Sistema de Monitoramento ",
        "ui": "f6d8fbae78edba33",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "0cdfdf34819811df",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "fc9735a692948e3b",
        "type": "ui-group",
        "name": " Status Placas",
        "page": "397ca53137837e96",
        "width": "2",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bd387d4c142d6f24",
        "type": "ui-group",
        "name": "Status Clima",
        "page": "397ca53137837e96",
        "width": 4,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "adfa85fc397a17d6",
        "type": "ui-group",
        "name": "Status Sala",
        "page": "397ca53137837e96",
        "width": "2",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ee7e0633be680a02",
        "type": "ui-group",
        "name": "Definir Ocupação - Sala",
        "page": "397ca53137837e96",
        "width": 4,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "620e93b2ae41956e",
        "type": "ui-group",
        "name": "Grafico",
        "page": "397ca53137837e96",
        "width": 12,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a792e20f6c1522ed",
        "type": "ui-spacer",
        "group": "bd387d4c142d6f24",
        "name": "spacer",
        "order": 6,
        "width": 4,
        "height": 1,
        "className": ""
    },
    {
        "id": "a793039a29908b2a",
        "type": "ui-spacer",
        "group": "ee7e0633be680a02",
        "name": "spacer",
        "order": 1,
        "width": 4,
        "height": 1,
        "className": ""
    },
    {
        "id": "a792fe56a32099d4",
        "type": "ui-spacer",
        "group": "ee7e0633be680a02",
        "name": "spacer",
        "order": 4,
        "width": 4,
        "height": 1,
        "className": ""
    },
    {
        "id": "7225f759fc5aeedf",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "015292836eefaeab",
        "type": "mqtt-broker",
        "name": "Vinicius",
        "broker": "114fab7ddbdc46f4a5582af51a52f53f.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "7225f759fc5aeedf",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "859ca98ef07861f8",
        "type": "mqtt-broker",
        "name": "Bruno",
        "broker": "114fab7ddbdc46f4a5582af51a52f53f.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "7225f759fc5aeedf",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tls_hivemq",
        "type": "tls-config",
        "name": "HiveMQ TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "48cf8572eb346074",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "mqtt_broker_hivemq",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "31f805d83ca54d5b874fcb52fac74a9b.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "tls_hivemq",
        "clientid": "NCA_Dashboard",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "50f1987d2c37ae26",
        "type": "mqtt in",
        "z": "b60f482443d02e93",
        "name": "",
        "topic": "grafico/temp/umi",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "ea9955f35f680598",
                "798f4e1287f38eb0",
                "98b06b53ae7714b5",
                "19673ef30932d313",
                "73ebfcb727b19595",
                "86fd14152417e3c7"
            ]
        ]
    },
    {
        "id": "5a30c8d85d650be7",
        "type": "ui-text",
        "z": "b60f482443d02e93",
        "group": "bd387d4c142d6f24",
        "order": 2,
        "width": 2,
        "height": 0,
        "name": "",
        "label": "Temperatura: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.tempe",
        "valueType": "msg",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "923e66fd08de1c4a",
        "type": "ui-text",
        "z": "b60f482443d02e93",
        "group": "bd387d4c142d6f24",
        "order": 3,
        "width": 2,
        "height": 0,
        "name": "",
        "label": "Umidade: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.umi",
        "valueType": "msg",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "798f4e1287f38eb0",
        "type": "function",
        "z": "b60f482443d02e93",
        "name": "function - adicionar °C",
        "func": "let temp = msg.payload.temp;\nlet mensagem = temp + \"°C\";\n\nmsg.payload.tempe = mensagem;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "5a30c8d85d650be7"
            ]
        ]
    },
    {
        "id": "98b06b53ae7714b5",
        "type": "ui-gauge",
        "z": "b60f482443d02e93",
        "name": "gauge - temperatura",
        "group": "bd387d4c142d6f24",
        "order": 4,
        "value": "payload.temp",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 580,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ea9955f35f680598",
        "type": "ui-gauge",
        "z": "b60f482443d02e93",
        "name": "gauge - umi",
        "group": "bd387d4c142d6f24",
        "order": 5,
        "value": "payload.humi",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-tank",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#a8f5ff",
                "text": "",
                "textType": "label"
            },
            {
                "from": "15",
                "color": "#55dbec",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#53b4fd",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#2397d1",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "19673ef30932d313",
        "type": "function",
        "z": "b60f482443d02e93",
        "name": "function - adicionar %",
        "func": "let umi = msg.payload.humi;\nlet mensagem = umi + \"%\";\n\nmsg.payload.umi = mensagem;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "923e66fd08de1c4a"
            ]
        ]
    },
    {
        "id": "331c0986c23b5609",
        "type": "ui-chart",
        "z": "b60f482443d02e93",
        "group": "620e93b2ae41956e",
        "name": "",
        "label": "Histórico de Temperatura",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "payload.x",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.y",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ffc800",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 4,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1050,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "73ebfcb727b19595",
        "type": "function",
        "z": "b60f482443d02e93",
        "name": "temp - grafico",
        "func": "let temp = msg.payload.temp || 0;\nlet t = Date.now();\n\nreturn { \n    topic: \"temperatura\", \n    payload: { x: t, y: temp } \n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "5d75c82c489d86e5"
            ]
        ]
    },
    {
        "id": "5d75c82c489d86e5",
        "type": "delay",
        "z": "b60f482443d02e93",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "331c0986c23b5609"
            ]
        ]
    },
    {
        "id": "86fd14152417e3c7",
        "type": "function",
        "z": "b60f482443d02e93",
        "name": "umi - grafico",
        "func": "let umi = msg.payload.humi || 0;\nlet t = Date.now();\n\nreturn { \n    topic: \"umidade\", \n    payload: { x: t, y: umi } \n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 400,
        "wires": [
            [
                "e9a16894126dfd7e"
            ]
        ]
    },
    {
        "id": "41dacfa767877d5e",
        "type": "ui-chart",
        "z": "b60f482443d02e93",
        "group": "620e93b2ae41956e",
        "name": "",
        "label": "Histórico de Umidade",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "payload.x",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.y",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#2397d1",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 4,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1020,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e9a16894126dfd7e",
        "type": "delay",
        "z": "b60f482443d02e93",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "41dacfa767877d5e"
            ]
        ]
    },
    {
        "id": "108cb08804b21bd3",
        "type": "function",
        "z": "b60f482443d02e93",
        "name": "ocup - grafico",
        "func": "let ocup = global.get(\"ocup_atual\") || 0;\n\n// timestamp\nlet t = Date.now();\n\nreturn { topic:\"ocupacao\",   payload:{ x:t, y:ocup } }\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 480,
        "wires": [
            [
                "525d6e1879d2ea4e"
            ]
        ]
    },
    {
        "id": "5e757477a9e25887",
        "type": "mqtt in",
        "z": "b60f482443d02e93",
        "name": "",
        "topic": "ocupacao/grafico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "015292836eefaeab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 480,
        "wires": [
            [
                "108cb08804b21bd3"
            ]
        ]
    },
    {
        "id": "b5286df797b45f89",
        "type": "ui-chart",
        "z": "b60f482443d02e93",
        "group": "620e93b2ae41956e",
        "name": "Histórico de Ocupação",
        "label": "Histórico de Ocupação",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "payload.x",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.y",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#4caf50",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 4,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1020,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "525d6e1879d2ea4e",
        "type": "delay",
        "z": "b60f482443d02e93",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 480,
        "wires": [
            [
                "b5286df797b45f89"
            ]
        ]
    },
    {
        "id": "c6642047369cb62e",
        "type": "ui-text",
        "z": "b60f482443d02e93",
        "group": "adfa85fc397a17d6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor -",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.evento",
        "valueType": "msg",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "f8b7a8311926d56a",
        "type": "debug",
        "z": "b60f482443d02e93",
        "name": "debug - Valores Sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 560,
        "wires": []
    },
    {
        "id": "42b016bd702de5e2",
        "type": "ui-text",
        "z": "b60f482443d02e93",
        "group": "adfa85fc397a17d6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hora - ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.timestamp",
        "valueType": "msg",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "f4d0578c3c74dce1",
        "type": "ui-text",
        "z": "b60f482443d02e93",
        "group": "adfa85fc397a17d6",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ocupação atual - ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.ocupacao",
        "valueType": "msg",
        "x": 570,
        "y": 720,
        "wires": []
    },
    {
        "id": "c9f6deae752ad81e",
        "type": "mqtt in",
        "z": "b60f482443d02e93",
        "name": "",
        "topic": "ocupacao",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 720,
        "wires": [
            [
                "f4d0578c3c74dce1"
            ]
        ]
    },
    {
        "id": "e443f4b672d8aec6",
        "type": "ui-text",
        "z": "b60f482443d02e93",
        "group": "adfa85fc397a17d6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status -",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 540,
        "y": 780,
        "wires": []
    },
    {
        "id": "c535ab19253575f4",
        "type": "mqtt in",
        "z": "b60f482443d02e93",
        "name": "",
        "topic": "statusagora",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 780,
        "wires": [
            [
                "e443f4b672d8aec6"
            ]
        ]
    },
    {
        "id": "4f303626478b7642",
        "type": "ui-slider",
        "z": "b60f482443d02e93",
        "group": "ee7e0633be680a02",
        "name": "Definir ocupação",
        "label": "",
        "tooltip": "",
        "order": 3,
        "width": 4,
        "height": 2,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "5",
        "max": "100",
        "step": "5",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 810,
        "y": 720,
        "wires": [
            [
                "8f97d5422213fd0e"
            ]
        ]
    },
    {
        "id": "8f97d5422213fd0e",
        "type": "mqtt out",
        "z": "b60f482443d02e93",
        "name": "",
        "topic": "definir_ocupacao",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "859ca98ef07861f8",
        "x": 1050,
        "y": 720,
        "wires": []
    },
    {
        "id": "ecd6352fc68de79b",
        "type": "ui-text",
        "z": "b60f482443d02e93",
        "group": "fc9735a692948e3b",
        "order": 3,
        "width": 0,
        "height": 2,
        "name": "Status placa 2",
        "label": " - - - - - - -  Placa 2 - - - - - - -",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "dc66602a921bc6e5",
        "type": "ui-text",
        "z": "b60f482443d02e93",
        "group": "fc9735a692948e3b",
        "order": 2,
        "width": 0,
        "height": 2,
        "name": "Status placa 1",
        "label": " - - - - - - -  Placa 1 - - - - - - -",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "812e19da34ecb244",
        "type": "mqtt in",
        "z": "b60f482443d02e93",
        "name": "",
        "topic": "status_placa2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "ecd6352fc68de79b"
            ]
        ]
    },
    {
        "id": "121e312120a1b848",
        "type": "mqtt in",
        "z": "b60f482443d02e93",
        "name": "",
        "topic": "status_placa1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "dc66602a921bc6e5"
            ]
        ]
    },
    {
        "id": "9a658bf47735c132",
        "type": "mqtt in",
        "z": "b60f482443d02e93",
        "name": "",
        "topic": "sensor/hora",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "c6642047369cb62e",
                "42b016bd702de5e2",
                "f8b7a8311926d56a"
            ]
        ]
    },
    {
        "id": "d5719fb2ec9c8f4c",
        "type": "mqtt in",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "vini/topic/placa1/envia",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "015292836eefaeab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 520,
        "wires": [
            [
                "f0f116a5ad4e1f09",
                "996160831da011b2"
            ]
        ]
    },
    {
        "id": "f0f116a5ad4e1f09",
        "type": "function",
        "z": "60c370e93addbd17",
        "name": "ocupação",
        "func": "let atual = global.get(\"ocup_atual\") || 0;\nlet max   = global.get(\"ocup_max\")  || 0;\n\n// evento\nif (msg.payload.evento === \"Entrando\") {\n    atual++;\n}\nelse if (msg.payload.evento === \"Saindo\") {\n    atual--;\n}\nelse {\n    msg.payload.evento = \"Neutro\";\n}\n\n// impede que atual fique menor que 0\nif (atual < 0) {\n    atual = 0;\n}\n\n// salva global\nglobal.set(\"ocup_atual\", atual);\n\n// envia msg de atualização\nmsg.payload = {\n    atual: atual,\n    max: max,\n    ocupacao: `${atual}/${max}`,\n    evento: msg.payload.evento\n};\n\n// envia para o dashboard atualizar\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 520,
        "wires": [
            [
                "37cedac323353b54",
                "90a34614597ec0c9",
                "d6326bda60fb71dc",
                "30fe4047ebcb5d56"
            ]
        ]
    },
    {
        "id": "37cedac323353b54",
        "type": "mqtt out",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "bruno/topic/placa2/recebe/ocupacao",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "859ca98ef07861f8",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "e4e09a2a7928330f",
        "type": "function",
        "z": "60c370e93addbd17",
        "name": "max sala",
        "func": "let max = Number(msg.payload);\nif (max > 100) max = 100;\nif (max < 0) max = 0;\n\nglobal.set(\"ocup_max\", max);\n\n// força atualização imediata da lotação\nlet atual = global.get(\"ocup_atual\") || 0;\n\nmsg.payload = { ocupacao: `${atual}/${max}` };\n// msg.payload1 = `${atual}/${max}`;\n\n// envia para recalcular status visual\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 580,
        "wires": [
            [
                "37cedac323353b54",
                "90a34614597ec0c9",
                "30fe4047ebcb5d56"
            ]
        ]
    },
    {
        "id": "90a34614597ec0c9",
        "type": "function",
        "z": "60c370e93addbd17",
        "name": "msg lotação",
        "func": "let atual = global.get(\"ocup_atual\") || 0;\nlet max   = global.get(\"ocup_max\") || 0;\n\nif(max <= 0){\n    msg.payload = msg.payload || {};\n    msg.payload.lotacao = \"desconhecido\";\n    return msg;\n}\n\nlet perc = (atual / max) * 100;\n\nif(perc <= 29){\n    msg.payload.lotacao = \"Livre\";\n}\nelse if(perc >= 30 && perc <= 59){\n    msg.payload.lotacao = \"Enchendo\";\n}\nelse if(perc >= 60 && perc <= 74){\n    msg.payload.lotacao = \"Meio Cheio\";\n}\nelse if(perc >= 75 && perc <= 99){\n    msg.payload.lotacao = \"Quase Cheio\";\n}\nelse {\n    msg.payload.lotacao = \"Lotado\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 580,
        "wires": [
            [
                "fb77d75b2ddfd1cb"
            ]
        ]
    },
    {
        "id": "fb77d75b2ddfd1cb",
        "type": "switch",
        "z": "60c370e93addbd17",
        "name": "Lotação",
        "property": "payload.lotacao",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Livre",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Enchendo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Meio Cheio",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Quase Cheio",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Lotado",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1080,
        "y": 580,
        "wires": [
            [
                "66e1f02e69877250",
                "5d8803db1f58beab"
            ],
            [
                "66e1f02e69877250",
                "5d8803db1f58beab"
            ],
            [
                "66e1f02e69877250",
                "5d8803db1f58beab"
            ],
            [
                "66e1f02e69877250",
                "5d8803db1f58beab"
            ],
            [
                "66e1f02e69877250",
                "5d8803db1f58beab"
            ]
        ]
    },
    {
        "id": "66e1f02e69877250",
        "type": "function",
        "z": "60c370e93addbd17",
        "name": "Cores",
        "func": "let cor = \"white\";\n\nswitch (msg.payload.lotacao) {\n    case \"Livre\": cor = \"green\"; break;\n    case \"Enchendo\": cor = \"#E6B800\"; break;\n    case \"Meio Cheio\": cor = \"orange\"; break;\n    case \"Quase Cheio\": cor = \"red\"; break;\n    case \"Lotado\": cor = \"#8B0000\"; break;\n}\n// payload pra UI com cor\nmsg.payload = `<font color=${cor}>${msg.payload.lotacao}</font>`;\n\n// teste1 serializado com somente o texto da lotação\nmsg.teste1 = JSON.stringify({ status: msg.payload.lotacao });\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 560,
        "wires": [
            [
                "bcf26c679820a24b",
                "bf80c351c9f15644"
            ]
        ]
    },
    {
        "id": "bcf26c679820a24b",
        "type": "debug",
        "z": "60c370e93addbd17",
        "name": "debug - Status Ocupação",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 500,
        "wires": []
    },
    {
        "id": "5d8803db1f58beab",
        "type": "function",
        "z": "60c370e93addbd17",
        "name": "placa 2",
        "func": "let status = msg.payload.lotacao;\nmsg.payload = JSON.stringify({ status: status });\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 600,
        "wires": [
            [
                "bb35d1244e4c18b4"
            ]
        ]
    },
    {
        "id": "4ee851a7e80cd212",
        "type": "mqtt out",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "bruno/topic/placa2/recebe/status",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "859ca98ef07861f8",
        "x": 1790,
        "y": 620,
        "wires": []
    },
    {
        "id": "bb35d1244e4c18b4",
        "type": "delay",
        "z": "60c370e93addbd17",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1530,
        "y": 620,
        "wires": [
            [
                "4ee851a7e80cd212"
            ]
        ]
    },
    {
        "id": "d6326bda60fb71dc",
        "type": "mqtt out",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "ocupacao/grafico",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "015292836eefaeab",
        "x": 910,
        "y": 660,
        "wires": []
    },
    {
        "id": "30fe4047ebcb5d56",
        "type": "mqtt out",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "ocupacao",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "859ca98ef07861f8",
        "x": 880,
        "y": 460,
        "wires": []
    },
    {
        "id": "bf80c351c9f15644",
        "type": "mqtt out",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "statusagora",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "859ca98ef07861f8",
        "x": 1510,
        "y": 540,
        "wires": []
    },
    {
        "id": "a8950cabe6fbc095",
        "type": "mqtt in",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "definir_ocupacao",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "e4e09a2a7928330f"
            ]
        ]
    },
    {
        "id": "b1ac59fb94b53590",
        "type": "mqtt in",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "placas/on/off/vini",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "015292836eefaeab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "2b511a7e83d82c25"
            ]
        ]
    },
    {
        "id": "a5725ba38fa3bee9",
        "type": "function",
        "z": "60c370e93addbd17",
        "name": "Status: Online",
        "func": "msg.payload = `<font color=green>${msg.payload.status}</font>`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 160,
        "wires": [
            [
                "0370a14af00aaae9"
            ]
        ]
    },
    {
        "id": "2b511a7e83d82c25",
        "type": "switch",
        "z": "60c370e93addbd17",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Online",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Offline",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "a5725ba38fa3bee9"
            ],
            [
                "7ad9cbacbdfded58"
            ]
        ]
    },
    {
        "id": "7ad9cbacbdfded58",
        "type": "function",
        "z": "60c370e93addbd17",
        "name": "Status: Offline",
        "func": "msg.payload = `<font color=red>${msg.payload.status}</font>`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 240,
        "wires": [
            [
                "0370a14af00aaae9"
            ]
        ]
    },
    {
        "id": "21f0619eea35f312",
        "type": "mqtt in",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "placas/on/off/bruno",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "1faacf721a4b4ab4"
            ]
        ]
    },
    {
        "id": "e49de116b15bbe30",
        "type": "function",
        "z": "60c370e93addbd17",
        "name": "Status: Online",
        "func": "msg.payload = `<font color=green>${msg.payload.status}</font>`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 300,
        "wires": [
            [
                "d171b348e17f217f"
            ]
        ]
    },
    {
        "id": "1faacf721a4b4ab4",
        "type": "switch",
        "z": "60c370e93addbd17",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Online",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Offline",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "e49de116b15bbe30"
            ],
            [
                "c607e7bbdf084a73"
            ]
        ]
    },
    {
        "id": "c607e7bbdf084a73",
        "type": "function",
        "z": "60c370e93addbd17",
        "name": "Status: Offline",
        "func": "msg.payload = `<font color=red>${msg.payload.status}</font>`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 380,
        "wires": [
            [
                "d171b348e17f217f"
            ]
        ]
    },
    {
        "id": "d171b348e17f217f",
        "type": "mqtt out",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "status_placa2",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "859ca98ef07861f8",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "0370a14af00aaae9",
        "type": "mqtt out",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "status_placa1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "859ca98ef07861f8",
        "x": 1060,
        "y": 200,
        "wires": []
    },
    {
        "id": "996160831da011b2",
        "type": "mqtt out",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "sensor/hora",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "859ca98ef07861f8",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "182dac5e5556564f",
        "type": "mqtt out",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "grafico/temp/umi",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "859ca98ef07861f8",
        "x": 900,
        "y": 720,
        "wires": []
    },
    {
        "id": "e861f0fe42f404c1",
        "type": "mqtt in",
        "z": "60c370e93addbd17",
        "name": "",
        "topic": "bruno/topic/placa2/envia",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 720,
        "wires": [
            [
                "182dac5e5556564f"
            ]
        ]
    },
    {
        "id": "bd1ed0057bc227ab",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]
